/*BASIC RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

:root {
  --moderate-violet-color: hsl(263, 55%, 52%);
  --very-dark-grayish-blue-color: hsl(217, 19%, 35%);
  --very-dark-blackish-blue-color: hsl(219, 29%, 14%);
  --light-gray-color: rgb(207, 207, 207);
  --light-grayish-blue-color: hsl(210, 46%, 95%);
  --white-color: hsl(0, 0%, 100%);
}

body {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--light-grayish-blue-color);
}

@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: 4rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .container .card:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .container .card:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1;
  }

  .container .card:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  .container .card:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .container .card:nth-child(5) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}

.card {
  padding: 2rem;
  border-radius: 8px;
  color: var(--light-gray-color);
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .card {
    padding: 3rem;
  }
}

.card:nth-of-type(1) {
  background-color: var(--moderate-violet-color);
}

.card:nth-of-type(2) {
  background-color: var(--very-dark-grayish-blue-color);
}

.card:nth-of-type(3) {
  background-color: var(--white-color);
}

.card:nth-of-type(4) {
  background-color: var(--very-dark-blackish-blue-color);
}

.card:nth-of-type(5) {
  background-color: var(--white-color);
}

.card:nth-of-type(3),
.card:nth-of-type(5) {
  color: var(--very-dark-grayish-blue-color);
}

.card:nth-of-type(3) *,
.card:nth-of-type(5) * {
  color: inherit;
}

.userProfil {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.userProfil__img {
  border-radius: 50%;
}

.userCardName {
  display: flex;
  flex-direction: column;
}

.userCardName__role {
  color: rgba(207, 207, 207, 0.5);
}

.userTestimonialCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.userTestimonialCard__introduction {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: var(--white-color);
}

.userTestimonialCard__text {
  color: rgba(207, 207, 207, 0.7);
  line-height: 1.8;
}
